<ion-view view-title="chat">
  <ion-content>
    <h1>Chats</h1>
  </ion-content>
</ion-view>



<ion-view view-title="{{chat.name}}">
    <ion-content class="padding">
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="msg in chat.messages" type="item-text-wrap">

                <img ng-src="{{msg.face}}">

                <p><time>{{msg.date}}</time><span>-{{msg.name}}: </span>{{msg.msg}}</p>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
