<ion-view view-title="Mensagens">
    
        <ion-view view-title="{{chat.name}}">
            <ion-content class="padding" overflow-scroll="true">
                
                    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
                    <ion-list>
                        <ion-item class="item-remove-animate item-text-wrap item-avatar item-right" ng-repeat="msg in chat.messages" ng-class="$even ? 'item-stable' : ''" type="item-text-wrap">
                            <img ng-src="{{msg.face}}">
                            <p><span ng-class="$even ? 'royal':'balanced'"><time>{{msg.date}}</time></span></p>
                            <p><span ng-class="$even ? 'royal':'balanced'">{{msg.name}}:</span></p>
                            <h2><span ng-class="$even ? 'royal':'balanced'">{{msg.msg}}</span></h2>
                        </ion-item>
                    </ion-list>
            </ion-content>
        </ion-view>

    
    
    <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
        
            <label class="item-input-wrapper">
                <input ng-model="data.message"
                       on-return="sendMessage()"
                       on-focus="inputUp()"
                       on-blur="inputDown()"
                      placeholder="Mensagem"
                        dir="auto"
                       type="text" />
            </label>
            <span ng-if="data.message.length > 0">
                <button ng-click="sendMessage()" class="button button-clear button-positive ion-android-send"></button>
            </span>
            <span ng-if="!data.message || data.message.length === 0">
                <button class="button button-clear button-icon button-positive icon ion-ios7-camera-outline"></button>
            </span>
</ion-footer-bar>
</ion-view>


